/*************************************************************************
*
*
* Edit
*
*
*************************************************************************/
.edit-page {

  li {
    margin-top: .5rem;

    &:first-child {
      margin: none;
    }
  }

  .remove-link {
    font-size: .75rem;
    margin-left: .5rem;
  }
}
